# Eclipse files (for those who use it) #
bin/
target/
.settings/

.project
.classpath 

#Excel files#
*.xlsx
*.xls
*.odt

# NIfTI Images #
*.nii

# Python class files #
*.pyc

# Temporary files #
*.*~
